<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" tempDirectory="D:\Inetpub\vhosts\reedify.in\tmp" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="On" defaultRedirect="404">
      <error statusCode="404" redirect="404" />
    </customErrors>
  </system.web>
  <system.webServer>
	  <!--<staticContent>
		  <clientCache cacheControlMode="UseExpires"
			 httpExpires="Mon, 1 Jan 2024 12:00:00 GMT" />
	  </staticContent>-->
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>